textcolor = #00FF00
backgroundcolor = #000000

body
  background-color backgroundcolor
  font-family monospace
  color textcolor

h1
  text-align center
  margin 0px

input
  background backgroundcolor
  color textcolor
  border 0px solid
  outline-color textcolor
  padding 5px
  height 20px

.messages
  width 100px
  margin 0 auto
  overflow-y scroll
  word-wrap break-word
  for i in 8..40
    @media (min-height 50px*i)
      height 38px*i

.anon
  display none
  float left
  position relative
  background-color textcolor
  color backgroundcolor
  text-align center
  padding 2px
  margin-top -19px
  width 150px

ul li
  list-style-type none

li strong:hover .anon
  display block

.writeform, .regen
  text-align center

.footer
  text-align center
  size 8px

a:link, a:visited, a:hover, a:active
  color textcolor

a:link, a:visited
  text-decoration none

a:hover, a:active
  text-decoration underline

button
  -webkit-border-radius 5
  -moz-border-radius 5
  border-radius 5px
  border 0px
  color backgroundcolor
  background darken(textcolor, 30%)
  padding 5px 10px 5px 10px
  text-decoration none

button:hover
  background darken(textcolor, 10%)
  text-decoration none

::-webkit-scrollbar
  width 5px
  height 5px

::-webkit-scrollbar-button
  width 0px
  height 0px

::-webkit-scrollbar-thumb
  background darken(textcolor, 50%)
  border 0px none backgroundcolor
  border-radius 50px

::-webkit-scrollbar-thumb:hover
  background textcolor

::-webkit-scrollbar-thumb:active
  background textcolor

::-webkit-scrollbar-track
  background backgroundcolor
  border 0px none backgroundcolor
  border-radius 50px

::-webkit-scrollbar-track:hover
  background lighten(backgroundcolor, 10%)

::-webkit-scrollbar-track:active
  background lighten(backgroundcolor, 10%)

::-webkit-scrollbar-corner
  background transparent
